################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartNotificationSystem/FileContentIndex
/.vs
/SmartNotificationService/.vs
/SmartNotificationService/obj
/SmartNotificationService/bin/Debug/net8.0
/BillingService/obj
/BillingService/bin/Debug/net8.0
/NotificationService/obj
/NotificationService/bin/Debug/net8.0
/SagaOrchestrator/obj
/SagaOrchestrator/bin/Debug/net8.0
